{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Translator</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
      .errorlist {
      color: red;
      }
    </style>
  </head>
  <body style="background-image: url({% static 'background.jpg' %});" >
    <div class="flex-center">
      <div class="container">
	<div class="flex-center">
        <table width="500" border="0">
        <tr>
        <td colspan="2" style="background-color:#E0F7FA;">
{{ sayHello }}
        <form class="form" action="" method="POST">
	      {% csrf_token %}
        <p style="font-family:arial;color:r;font-size:20px;"> Destination
           {{ form.destination }}
        </p>
        <p style="font-family:arial;color:r;font-size:20px;"> Translate to
           {{ form.translateTo }}
        </p>
	      <button type="submit" class="btn btn-primary btn-block" name="byBus"><i class="fas fa-bus"></i> By bus</button>
            <button type="submit" class="btn btn-primary btn-block" name="onFoot"><i class="fas fa-walking"></i> On foot</button>
            <button type="submit" class="btn btn-primary btn-block" name="driveCar"><i class="fas fa-car"></i> Drive car</button>
            <p style="font-family:arial;color:r;font-size:20px;">Translate Result</p>
        {{form.result}}
        </form>
            <a href="secondUser"><button class="btn btn-block btn-danger"><i class="fas fa-map-marked-alt"></i> Give another person to guide your way </button></a>
            </td>
            </tr>
            </table>
<table width="230" border="0">
        <tr>
        <td colspan="2" style="background-color:#E0F7FA;">
<button type="button" onclick='document.getElementById("demo").innerHTML ="{{content}}"' style="height:50px;width:100px"><i class="fas fa-book-open"></i> Click for introduction!</button>
            <p id="demo">Welcome to use our translator.</p>
     </td>
        </tr>
        </table>
	</div>
      </div>
    </div>
  </body>
  </html>
