{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Translator</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
      .errorlist {
      color: red;
      }
    </style>
  </head>
  <body style="background-image: url({% static 'background.jpg' %});" >
    <div class="flex-center">
      <div class="container">
	<div class="flex-center">
        <table width="500" border="0">
        <tr>
        <td colspan="2" style="background-color:#E0F7FA;">
        <form class="form" action="" method="POST">
	      {% csrf_token %}
            <p style="font-family:arial;color:r;font-size:20px;"> Guidance
            {{form.content}}
        </p>
        <p style="font-family:arial;color:r;font-size:20px;"> Translate to
            {{form.translateTo}}
        </p>

	      <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-language"></i> Translate</button>
            <p style="font-family:arial;color:r;font-size:20px;">Translate result</p>
        {{last_result}}
        </form>
        </td>
        </tr>
            </table>
            <table width="500" border="0">
            <tr>
            <td colspan="2" style="background-color:#E0F7FA;">
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <p style="font-family:arial;color:r;font-size:15px;"> Ask question back if you have
                    {{form2.contentError}}
            </p>
            <p style="font-family:arial;color:r;font-size:20px;"> Translate back to
            {{form2.translateToError}}
            </p>
                <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-file-signature"></i> Translate Error </button>
            <p style="font-family:arial;color:r;font-size:20px;"> Translate result </p>

        {{errorResult}}
            </form>

                <a href="https://duke.qualtrics.com/jfe/form/SV_0Cn8CTtDLl3tYod"><button class="btn btn-block btn-danger"><i class="fas fa-check"></i> Finish Interaction</button></a>
   <a href="http://duke.transloc.com/"><button class="btn btn-block.btn-link"><i class="fas fa-shuttle-van"></i> Visit duke transport website </button></a><br>
  <a href="http://maps.duke.edu/map/?id=21"><button class="btn btn-block.btn-link"><i class="fas fa-location-arrow"></i> Visit duke map </button></a><br>
   </td>
        </tr>
        </table>
         <table width="500" border="0">
             <tr>
        <td colspan="2" style="background-color:#E0F7FA;">
             <a href="/webPage/main/firstUser/"><button type="button"><i class="far fa-hand-point-left"></i> Return to last page </button></a>
          </td>
        </tr>
             <tr>
        <td colspan="2" style="background-color:#E0F7FA;">
<button type="button" onclick='document.getElementById("demo").innerHTML = "In first text field, you need to choose the native language of the person who will received the translate result. In second text field, you need to input your advice/instruction on how to get to the destination. Press tranlate button to see the result. Press report if the received person do not understand the result. Press the red button after finishing interaction and help us finish a survey."' style="height:50px;width:144.5px"><i class="fas fa-book-open"></i> Click for introduction! </button>
            <p id="demo">Welcome to use our translator.</p>
                <a href="http://www.usuniversitiestour.com/duke-university/"><img src = "http://www.usuniversitiestour.com/wp-content/uploads/2018/02/duke-university-durham-nc.jpg" alt="Duke map"/></a><br>
                <p>(Click to see large image)</p>
             </td>
        </tr>

         </table>
	</div>
      </div>
    </div>
  </body>
  </html>
