{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Translator</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
      .errorlist {
      color: red;
      }
    </style>
  </head>
  <body style="background-image: url({% static 'background.jpg' %});" >
    <div class="flex-center">
      <div class="container">
	<div class="flex-center">
        <table width="500" border="0">
            <tr>
        <td colspan="2" style="background-color:#E0F7FA;">
             <img src = "http://www.uzman.com/wp-content/uploads/2018/03/yeminli-tercuman.png" alt="Welcome"/>
        <form class="form" action="firstUser/" method="POST">
	      {% csrf_token %}
        <p style="font-family:arial;color:r;font-size:20px;"> What is your name?
           {{ form.name }}
        </p>
        <p style="font-family:arial;color:r;font-size:20px;"> What is your native language?
           {{ form.language }}
        </p>
            <button type="submit" class="btn btn-primary btn-block" name="driveCar"><i class="fas fa-smile-beam"></i> Go to next page </button>

        </form>
        </td>
        </tr>


            </table>

	</div>
      </div>
    </div>
  </body>
  </html>
